
#cpfcnpj{
  width: 200px;
  margin-left: -605px;
  padding: 5px;
  font-size: 14;
}


#nomerazao{
  width: 585px;
  margin-right: -605px;
  padding: 5px;
  font-size: 14px;
}

#sobrenomenomefantasia{
  width: 500px;
}

#rginscricao{
  width:200px;
  padding: 5px;
  font-size: 14px;
}

#cep{
  width: 100px;
  padding: 5px;
  font-size: 14px;
}

#logradouro{
  width: 685px;
  padding: 5px;
  font-size: 14px;
}

#numero{
  width: 100px;
  font-size: 14px;
  padding: 5px;
  
}
#complemento{
  width: 280px;
  font-size: 14px;
  padding: 5px;
  
}
#bairro{
  width: 385px;
  font-size: 14px;
  padding: 5px;
}
#cidade{
  width: 600px;
  font-size: 14px;
  padding: 5px;
}
#uf{
  width: 100px;
  font-size: 14px;
  padding: 5px;
}
#email{
  width: 525px;
  font-size: 14px;
  padding: 5px;
}
#telefone{
  width: 120px;
  font-size: 14px;
  padding: 5px;
}
#celular{
  width: 120px;
  font-size: 14px;
  padding: 5px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-left: -710px;
}

#fisica{
  margin-left: -620px;
}

#juridica{
  margin-left: 20px;
}

#labelfisica{
  margin-right: 7px;
  margin-left: 1px;
}

#labeljuridica{
  margin-left: 0px;
}

#cancelarbtn{
  width:100px;
  margin-left: 510px;
  margin-top: 110px;
  padding: 10px;

}

#Salvarbtn{
  width:100px;
  margin-left: 715px;
  margin-top:-170px;
  padding: 10px;
}


.container{
  width: 860px;
  height: 500px;
  text-align: center;
  background-color: rgba(223, 223, 223, 0.9);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 90px;
  box-shadow: -1px 3px 10px 0px #383737;
   
}

