
*{
  margin: 0;
  padding: 0;
}

#check{
  display: none;
}

#icone{
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1;
}
#icone:hover{
  background-color: #e48919;
}

.barra{
  background-color: #333;
  height: 100%;
  width: 300px;
  position: absolute;
  transition: all .2s linear;
  left: -300px;
}

nav{
  width: 100%;
  position: absolute;
  top: 60px;

}

nav a{
  text-decoration: none ;

}

.link{
  background-color: #494950;
  padding: 20px;
  font-family: 'Arial';
  font-size: 12pt;
  transition: all .2s linear;
  color: #f4f4f9;
  border-bottom: 2px solid #222;
  opacity: 0;
  margin-top: 200px;
}

.link:hover{
  background-color: #e48919;
  transition-delay: .2s;
}

#check:checked ~ .barra{
  transform: translateX(300px);
}

#check:checked ~ .barra nav a .link{
  opacity: 1;
  margin-top: 0;
  transition-delay: .3s;
}

#barrasuperior {
  background-color: #333;
  width: 100%;
  margin: 0px;
  height: 70px;
}

#logobarrasup{
  margin: 0;
  padding: 20px;
  top: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 18px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


#cpfcnpj{
  width: 200px;
}

#exampleInputEmail1 {
  width: 200px;
}