
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f9f9f9;
}

#nomeProduto{
  width: 700px;
}


#categoria{
  width: 500px;
}

#subCategoria{
  width: 500px;
}

#unidadeMedida{
  width:200px;
}


.form-control {
  display: auto;
  margin-left: 160px;
  width: 500px;
  height: 34px;
  padding: 18px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-left: 160px;
}



#lblprod{
  margin-right: 7px;
  margin-left: 160px;
}

#lblcat{
  margin-right: 7px;
  margin-left: 160px;
}

#lblsubcat{
  margin-right: 7px;
  margin-left: 160px;
}


#lblsubcat{
  margin-right: 7px;
  margin-left: 160px;
}

#lblunidmed{
  margin-right: 7px;
  margin-left: 160px;

}


#cancelarbtn{
  margin-left: 920px;

}

#Salvarbtn{
  margin-left: 1000px;
  margin-top: -43px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin-left: 160px;
  margin-top: 10px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-top: 10px;
}

.open>.dropdown-menu {
  display: block;
  margin-left: 160px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 10px;
}