body{
    margin: 0; 
    padding: 0; 
    max-width: 100%
}

#menulist {
    background-color:#403e42; 
    position: fixed; 
    left: 0; 
    top:0; 
    width: 0px; 
    height: 100%;
    transition: 0.5s;
}

#header{
    background-color: #403e42; 
    width: 100%; 
    margin:0px; 
    height: 70px
}

.buttonmenu{
    border: 2px solid #576773; 
    border-radius: 50px; 
    margin: 10px; 
    width: 45px; 
    height: 45px; 
    padding: 10px;
    outline: none;
    background-color: #B39DDB;
}

/* .buttonmenu :focus{
    outline:  none;
} */

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a{
    text-decoration: none;
}

.link{
    background-color: #e8e6e6;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all .2s linear;
}