body{
    margin: 0 auto;
    background-image: url("./../images/c.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 720px;
    background-attachment: fixed;
 }

.container{
    width: 380px;
    height: 360px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 90px;
     
 }

.container img{
    width: 180px;
    height: 90px;
    margin-top: 30px;
    margin-right: 0px;
}

 input[type="text"], input[type="password"]{ 
   
    height: 30px;
    width:300px;
    font-size:18px;
    margin-bottom:20 -10px;
    background-color:#fff;
    margin-top: 30px;
    padding-left: 30px;
}

.form-input::before{
    
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-top: 32px;
    font-size: 30px;
    color: dimgrey;
}


.form-input:nth-child(2)::before{
    
    content: "\f023";
    position: absolute;
    font-family: "FontAwesome";
    font: "Arial";
    padding-left: 5px;
    padding-top: 32px;
    font-size: 30px;
    color: dimgrey;
}

.botaologin{
    padding: 15px 80px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #2ecc71;
        
}

.botaologin:hover{
    background-color: #108840
}

a{
    color: #1a9bd6;
    font-family: "FontAwesome"

}