﻿ body {
    max-width: 960px;
    margin-top: 30px;
    margin-left: 160px;
    margin-right: 60px;
    margin-top: 60px;
} 


/* carrega classe link e formata o link (ancora) para mudar sua apresentação/forma/*/

.link
{
color: black;
text-transform: uppercase;
border: 1px solid black;
padding: 10px;

}


/* pseudoclasse css - efeitos especiais hover = mouse por cima*/

.link:hover
{
text-decoration: none;
color: black;
background-color: lightgrey;
}



#inputlogin
{
    background-color: white;
     width: 330px; 
}


#inputsenha
{
  background-color: white;
  width: 330px;  
}

#login { 
    background-color: #e1e1e0;
    width: 415px;
    height: 290px; 
    left: 290px; 
    right: 290px; 
    margin:auto; 
    padding:5px;
    position: absolute;  
    top:250px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    box-shadow: 5px 8px 20px 1px #555;
}

#botaologin{
   position: absolute;   
   right: 44px;
   top: 220px; 
   width: 330px;
}
    
#labellogin{
   position: absolute;   
   right: 280px;
   padding: 50px;
   top: -110px;

}

#linkesqueceu{
    position: absolute; 
    top: 290px; 
    left: 160px; 
    font-size: 16px;
    
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 18px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.imglogin {
    width: 30%;
    right: -333px;
    top: -70px;
    margin: 160px;
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
}